html {
	margin: 0;
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: rgb(240,240,240);
	min-height: 100%;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

.link-color {
	color: indianred;
}

.link-color:hover {
	color: #444;
}

a {
	cursor: pointer;
	text-decoration: none !important;
}
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
	max-height: 550px;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: rgba(10,10,10,.5);
}
.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}
.video-container .title-container {
	z-index: 1000;
	position: absolute;
	top: 12%;
	width: 100%;
	text-align: center;
	color: #fff;
}
.video-container .description .inner {
	font-size: 1em;
	width: 45%;
	margin: 0 auto;
}
.video-container .link {
	position: absolute;
	bottom: 3em;
	width: 100%;
	text-align: center;
	z-index: 1001;
	font-size: 2em;
	color: #fff;
}
.video-container .link a {
	color: #fff;
}
.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}
.video-container video.fillWidth {
	width: 100%;
	object-fit: cover;
}
.undo-bootstrap-a {
	color: #777 !important;
	font-size: 16px !important;
}

.undo-bootstrap-a:hover {
	color: black !important;
}

.eagle-div {
	height: 250px;
	width: 100%;
}

.eagle {
	margin-left: -1px;
	height: 250px;
	opacity: 0.8;
}

.clear-pad-lr {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.footer {
	background-color: #444;
    color: #fff;
    text-align: center;
}

.wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

.footer {
	position: relative;
	height: 200px;
	bottom: 0;
	width: 100%;
}

.top {
	height: 100%;
}
@media screen and (min-width: 90em) {
	.footer .top {
		padding: 52px 0 59px;
	}
}

@media screen and (min-width: 75em) {
	.footer .top {
		padding: 58px 0 65px;
	}
}

.footer .top {
	padding: 60px 0 50px;
}
.social-navs {
	padding: 0;
    list-style: none;
}

.social-navs li {
	display: inline-block;
	font-size: 20px;
	line-height: 65px;
	margin: 0 10px;
	vertical-align: middle;
}

.footer .social-navs a {
	color: #fff;
	border-color: #fff;
	padding-top: 14px;
}
.social-navs a {
    width: 50px;
    height: 50px;
    transition: all .25s;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
}
.social-navs a:hover {
	background: #fff;
	color: #444;
	border-color: #fff;
}
.alt-contain {
	position: relative;
	max-width: 102.85714rem;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;s
}

.fb_iframe_widget {
	float: right;
	margin-bottom: 30px;
}

.submit:hover {
	background-color: #444 !important;
}

#content {
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	background-color: #ffffff;
}
