		</div>
		<footer class="footer">
			<div class="top"> 
				<div class="alt-contain">
					<ul class="social-navs">
						<li><a href="https://www.facebook.com/ZaglobaPolishClub" class="fa fa-facebook"></a></li>
						<li><a href="https://twitter.com/zaglobaplclub" class="fa fa-twitter"></a></li>
						<li><a href="https://www.linkedin.com/groups/8526515" class="fa fa-linkedin"></a></li>
						<li><a href="https://www.youtube.com/channel/UCucTLiePvNGC70dvaJarRjg" class="fa fa-youtube-play"></a></li>
						<li><a href="/contact/" class="fa fa-envelope"></a></li>
					</ul>
					<h4>&copy; Big Sak Productions 2016</h4>
				</div>
			</div>
		</footer>
	</body>
</html>