{{ partialCached "header.html" . }}
<!-- Facebook JS -->
<div id="fb-root"></div>
<script src="{{ .Site.BaseURL }}/js/fb.js"></script>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="homepage-hero-module">
	<script>
    	var height = $(window).height();
		var unitHeight = parseInt(height) + 'px';
		$('.homepage-hero-module').css('height', unitHeight).css("margin-top", parseInt($(".navbar").height()) + "px");
	</script>
	<div class="video-container">
		<div class="title-container">
			<div class="inner">
				<div class="eagle-div">
					<img src="{{ .Site.BaseURL }}/images/ZPCseal.png" class="eagle">
				</div>
			</div>
			<div class="headline">
				<h1 style="font-size: 350%; margin-top: 50px; margin-bottom: 20px !important;">Witamy!</h1>
				<h3 style="font-size: 155%">
					<i>"Jesteśmy różni, pochodzimy z różnych stron Polski, mamy różne zainteresowania, ale łączy nas jeden cel. Cel ten to Ojczyna..."</i>
					<!-- <i>"Jesteśmy różni, pochodzimy z różnych stron Polski, mamy różne zainteresowania, ale łączy nas jeden cel. Cel ten to Ojczyzna." - Roman Dmowski</i>  -->
				</h3>
			</div>
		</div>
		<div class="filter" style= "height: 100%"></div>
		<video autoplay loop class="fillWidth" style="width: 100%; height: 100%;">
			<source src="{{ .Site.BaseURL }}/images/poland.mp4" type="video/mp4" />
		</video>
	</div>
</div>

<!-- Rows of columns -->
<div class="container-fluid" id="content">
	<script>
		$("#content").css("min-height", parseInt($(window).height() - $(".homepage-hero-module").height() - 220) + "px");
	</script>

	<div class="row" style="padding-top: 35px !important;">
		<div class="col-md-12" style="margin-bottom: 25px;">
			<h2>Welcome to the home of the largest cultural organization at the University of Illinois, Zagłoba Polish Club!</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9" style="padding-top: 0;">
			<h2 style="margin-top: 0;color: #aaa;">Congratulations to the Zagłoba Executive Board of 2017!</h2>
			<img style="max-width:90%; margin-top: 20px;" src="{{ .Site.BaseURL }}/images/2017board.jpg">
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="fb-page" data-href="https://www.facebook.com/ZaglobaPolishClub/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
				<blockquote cite="https://www.facebook.com/ZaglobaPolishClub/" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/ZaglobaPolishClub/">Zagloba Polish Club</a>
				</blockquote>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" style="margin-top: 15px; margin-bottom: 30px; max-width: 75%;">
			<ul style="list-style: none; padding: 0; max-width:93%">
				<li style="display: inline;"><strong>Prezes:</strong> Martin Wasilewski,</li>
				<li style="display: inline;"><strong>Treasurer:</strong> Theresa Komperda,</li>
				<li style="display: inline;"><strong>VP Social:</strong> David Sierant &amp; Anna Michalski,</li>
				<li style="display: inline;"><strong>VP Culture:</strong> Nicole Pudło,</li>
				<li style="display: inline;"><strong>VP Philanthropy:</strong> Szymon Kamiński,</li>
				<li style="display: inline;"><strong>VP Communications:</strong> Joanna Szumny,</li>
				<li style="display: inline;"><strong>VP Media:</strong> Adam Magier,</li>
				<li style="display: inline;"><strong>PSLA Ambassadors:</strong> Adrianna Goral &amp; Briana Porwisz</li>
			</ul>
		</div>
	</div>
</div>

	</div>
</div>
{{ partialCached "footer.html" . }}
